<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}//css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}//css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}//css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}//css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}//css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="{{site.baseurl}}//style.css">
    <style type="text/css">
        .lianj{
            color: #ccc;
        }
        .lianj:hover{
            text-decoration: none;
            color: #666;
        }
    </style>
</head>
<body>
    
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="{{site.baseurl}}/">首页</a></li>
                                <li><a href="">关于我们</a></li>
                                <li><a href="causes.html">美食</a></li>
                                <li><a href="portfolio.html">联系我们</a></li>
                                <li><a href="news.html">新闻</a></li>
                                <li><a href="contact.html">内容</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

	{{content}}
	
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>联系</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+45 677 8993000 223</span></li>
                                <li><i class="fa fa-envelope"></i><span>office@template.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Main Str. no 45-46, b3, 56832, Los Angeles, CA</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form><!-- .flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src='{{site.baseurl}}/js/jquery.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/swiper.min.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/circle-progress.min.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/custom.js'></script>

</body>
</html>